{% load static %}
<header
  class="site-header site-header--menu-right dynamic-sticky-bg py-7 py-lg-0 site-header--absolute site-header--sticky">
  <header id="header" class="clearfix">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tr-mainmenu"
          aria-controls="tr-mainmenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
        </button>
        <a class="navbar-brand" href="/"><img class="img-fluid" src="{% static 'images/logo.png' %}" alt="Logo"></a>

        <div class="collapse navbar-collapse" id="tr-mainmenu">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a >
                ‌خانه
              </a>
            </li>
            <li><a href="">دسته‌بندی</a></li>
            <li><a href="">پشتیبانی</a></li>
            <li><a href="">تماس باما</a></li>

          </ul>
        </div>

        <div class="nav-right">

          <!-- language-dropdown -->

          <!-- sign-in
          <ul class="sign-in btn">
            <li><i class="fa fa-user"></i></li>
            <li><a href="signin.html">ورود</a></li>
            <li><a href="signup.html">ثبت‌نام</a></li>
          </ul> -->
          <!-- sign-in -->

          {% if user.is_authenticated %}
            <div class="d-flex align-items-center">
              <span class="">{{ user.email }}</span>
                             <a href="{% url 'account:logout' %}" class="btn btn-outline-light">خروج</a>
            </div>
          {% else %}
            <a href="{% url 'account:register' %}" class="btn">ورود/ثبت نام</a>
          {% endif %}
        </div>

      </div><!-- container -->
    </nav><!-- navbar -->
  </header>